@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
    --color-white: hsla(0, 0%, 100%);
    --color-grey-200: hsl(196, 100%, 98%);

    --color-primary: hsl(195, 91%, 25%);
    --color-secondary: hsl(195, 46%, 40%);

    --color-grey-800: hsl(240, 6%, 13%);
    --color-grey-900: hsl(240, 5%, 7%);
}

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
    color: var(--color-grey-900);
}

.input-wrapper input {
    font-size: 1.6rem;
}

h1, h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

.related-matter ul li p {
    font-size: 1.4rem;
}