@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&display=swap');

:root {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;

    --color-title: #B52184;
    --color-text: #312D64;
    --color-white: #FFF;
    --color-black: #000;
    --color-one-gradient: #343193;
    --color-two-gradient: #302C63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-wrapper {
    width: auto;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    text-align: center;
}

#header-wrapper h1 {
    font-size: 3.2rem;
    color: var(--color-title);
    margin: 1.6rem auto 0;
}

#header-wrapper p {
    font-size: 2rem;
    color: var(--color-text);
    margin: 0 auto 3.5rem;
}

#header-wrapper img {
    margin-bottom: 9.3rem;
}

#cards-wrapper {
    background: linear-gradient(to right, var(--color-one-gradient), var(--color-two-gradient) 100%);
    padding: 5rem 0;
    display: flex;
    gap: 4.9rem;
    flex-direction: column;
}

.card-wrapper {
    display: flex;
    max-width: 34rem;
    margin: auto;
    padding: 2.6rem;
    flex-direction: column;
    border-radius: 2rem;
    background-color: var(--color-white);
}
.card-wrapper img {
    max-width: 8rem;
    margin-bottom: 3.3rem;
}

.card-wrapper h2 {
    font-size: 2.8rem;
    color: var(--color-title);
    margin-bottom: 1.8rem;
}

.card-wrapper p {
    max-width: 28rem;
    font-size: 1.6rem;
    color: var(--color-text);
}

section:nth-child(3) img {
    display: none;
}