@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#page {
    margin: 65px auto 0px;
    max-width: 1080px;
}

nav {
    margin-bottom: 55px;
}

nav, 
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    gap: 48px;
}

a {
    text-decoration: none;
}