@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Staatliches', cursive;
    background: #BFD7E4; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 46.5rem;
    background-color: #293241;

    z-index: -1;
}

header {
    margin: 10.8rem 18.0rem auto;
    color: #FFF;
    text-align: center;
}

h1 {         
    text-transform: uppercase;
    font-size: 3.6rem;
}

p {
    font-size: 1.6rem;
}

img {
    margin: 3.2rem 0;
}

p, label, span {
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 75rem;
    border-radius: 20px 20px;
    overflow: hidden;
}

div#div-form-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F67669;
    height: 12rem;
}

div#div-form-top > legend {
    margin: auto 0;
    color: #FFF;
}

form {
    padding: 3rem 6.4rem 6.4rem;
    background: #FFF;
}

fieldset {
    border: none;
}

legend { 
    font-size: 2.4rem;
    line-height: 3.4rem;
}

label {
    display: flex;
    flex-direction: column;
    color: #4E4958;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

span {
    color: #C1BCCC;
    font-size: 1.4rem;
    line-height: 2rem;
}

