@charset "UTF-8";

:root {
    font-size: 62.5%;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#page {
    height: 100vh;

    display: grid;
    grid-template-rows: 
    max-content 
    1fr 
    max-content;
}

.container {
    margin: 0 auto;
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
}

main {
    background-color: #F5F5F5;
    overflow-y: scroll;
}