@charset 'UTF8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-background-modal: #000000B2;
    --color-background: #040924;
    --color-input-focus-border-and-button: #026e8f;
    --color-label: #00453A;
    --color-title: #0C3440;
    --color-border: #4950574D;
    --color-text-input: #49505780;
    --color-text-input-focus: #212529;
    --color-background-input: #DCE2E9;
    --color-white: #FFF;
    --color-black: #000;
    --color-red: #F03E3E;
}

html, body, input, button {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
}

main {
    width: min(44rem, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    padding: 48px 64px 64px 64px;
    border-radius: .6rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 32px;
}

h1 {
    color: var(--color-title);
    font-size: 3.2rem;
    line-height: 4rem;
}

form {
    width: 100%;
}

fieldset {
    border: none;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

label {
    color: var(--color-label);
    font-size: 1.4rem;
    line-height: 1.8rem;
}

input {
    width: 100%;
    padding: 1.6rem;
    border-radius: .4rem;
    border: 1px solid var(--color-border);
    background: var(--color-background-input);
}

.input-wrapper input:focus {
    outline: none;
    border: 1px solid var(--color-input-focus-border-and-button);
    color: var(--color-text-input-focus);
}

.input-wrapper input::placeholder {
    color: var(--color-text-input);
}

button {
    margin-top: 3.2rem;
    display: flex;
    width: 100%;
    padding: 1.6rem;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    color: var(--color-white);
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: .4rem;
    border: none;
    background: var(--color-input-focus-border-and-button);
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background: #015974;
}