@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/*
font-family: 'Archivo', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #E5E5E5;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 368px;
    background-color: #121214;

    z-index: -1;
}
    
h1 {
    color: #FFF;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

p, label {
    font-family: 'Poppins', sans-serif;
}

p {
    color: #42D3FF;
    font-size: 16px;
    line-height: 26px;
}

label {
    display: block;
    color: #4E3958;
    font-size: 14px;
    line-height: 24px;
}

input {
    width: 608px;
    height: 56px;
    background-color: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

input[type="checkbox"] {
    color: #42D3FF;
    background-color: #000;
}